@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand: 245 158 11;
  /* --color-brand: 50 141 168; */
}

body {
  @apply bg-stone-800;
}

/* width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-brand/70 hover:bg-brand/80;
}

@layer base {
  html {
    @apply font-mono;
  }
  input {
    @apply tracking-normal border-none focus:ring-0 !important;
  }
  :focus, :focus-visible, :focus-within {
    @apply focus:outline-none focus:outline-offset-0 !important;
  }
  hr {
    @apply h-px w-full border-t-brand/50;
  }
}

@layer components {
  .card {
    @apply bg-brand/10 border-y border-brand/50 p-2 md:p-3;
  }
  .drop-brand-shadow {
    filter: drop-shadow(0 0 0.5rem rgb(var(--color-brand)));
  }
  .drop-brand-shadow:hover {
    filter: drop-shadow(0 0 1rem rgb(var(--color-brand)));
  }
  .btn {
      @apply inline-flex items-center gap-1 text-sm px-4 py-2.5 font-medium;
  }
  .btn-brand {
      @apply text-brand bg-brand/30 hover:bg-brand/50 focus:bg-brand/50 
      border-y border-brand/70 hover:border-brand/90 focus:border-brand/90;
  }
  .btn-text {
      @apply hover:bg-brand/20 focus:bg-brand/20;
  }

  .btn-brand[disabled], .btn-text[disabled], .btn-brand[aria-disabled], .btn-text[aria-disabled] {
      @apply cursor-not-allowed;
  }
  .btn-brand[disabled] {
      @apply text-brand/40 bg-brand/10 border-brand/20;
  }
  .btn-text[disabled] {
      @apply text-stone-400;
  }

}
