@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand: 245 158 11;
  /* --color-brand: 50 141 168; */
}

body {
  @apply bg-stone-900;
}

/* width */
::-webkit-scrollbar {
  @apply h-1.5 w-1;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply cursor-vertical-text rounded-full bg-brand/60 hover:bg-brand/90;
}

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input {
    @apply border-none tracking-normal focus:ring-0 !important;
  }
  :focus,
  :focus-visible,
  :focus-within {
    @apply focus:outline-none focus:outline-offset-0 focus:ring-0 focus:ring-offset-0 !important;
  }
  hr {
    @apply h-px w-full border-t-brand/50;
  }
  button,
  a {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .card {
    @apply rounded-2xl bg-stone-800 p-3 md:p-4;
  }
  .drop-brand-shadow {
    filter: drop-shadow(0 0 0.5rem rgb(var(--color-brand)));
  }
  .drop-brand-shadow:hover {
    filter: drop-shadow(0 0 1rem rgb(var(--color-brand)));
  }
  .btn {
    @apply inline-flex items-center gap-1 rounded-lg px-4 py-2.5 text-sm font-medium leading-none;
  }
  .btn-brand {
    @apply bg-brand/40 text-brand hover:bg-brand/50 focus:bg-brand/50;
  }
  .btn-text {
    @apply text-brand hover:bg-brand/20 focus:bg-brand/20;
  }

  .btn-brand[disabled],
  .btn-text[disabled],
  .btn-brand[aria-disabled],
  .btn-text[aria-disabled] {
    @apply cursor-not-allowed;
  }
  .btn-brand[disabled] {
    @apply border-brand/20 bg-brand/10 text-brand/40;
  }
  .btn-text[disabled] {
    @apply bg-transparent text-brand/40;
  }
}
